@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,300);

.menu-actions {
    width: 85px;
    position: fixed;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.08);
    border-radius: 4px 3px 6px / 2px 4px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    li {
        height: 80px;
        list-style-type: none;
        display: flex;
        align-items:center;
        outline: 0px auto -webkit-focus-ring-color;
        i {
            margin-left: 28px;
            font-size: 18px;
            color: black;
        }

        .option {
            margin-left: 25px;
        }

        .title {
            font-family: 'Nunito', sans-serif;
            text-transform: capitalize;
            font-size:14px;
            position: relative;
            display: block;
            color: #5F5F71;
            font-weight: 600;
        }
        .subtitle {
            display: block;
            clear: both;
            font-size: 12px;
            color: #B1B1B5;
            float: left;
        }
    }

    li:hover {
        background-color: #EDFFE6;
    }

    .last-position {
        margin-top: 100%;
    }
}

button.active,button.t_active {
    border-color:#38F1CF;
    color:#38F1CF;
    &:hover{
      color:#38F1CF;
      background:none;
      box-shadow:none;
    }
}

button {
    padding:10px 25px;
    border:2px solid white;
    background:none;
    border-radius:100px;
    margin-bottom:12px;
    color:white;
    font-family: 'Nunito', sans-serif !important;
    font-weight:600 !important;
    transition:all .24s;
    margin-right:12px !important;
    display:inline-block;
    &:hover{
      background:white;
      color: #3A3A4F;
      box-shadow:0px 0px 0px 10px rgba(255,255,255,0.04);
    }
    &:active{
      box-shadow:0px 0px 0px 20px rgba(255,255,255,0.04);
    }
}
  
.selected {
    background-color: #FAFAFA;
    i {
        margin-left: 25px;
        font-size: 18px;
        color: #2BCAFA !important;
    }
}