.top-bar {
  margin-top: 100px;
}

.card-top {
  padding-top: 10px;
}

.color-red {
  color: red
}

.color-green {
  color: green
}

.font-size-32px {
  font-size: 32px;
}

.title-card {
  font-weight: 500;
  font-size: 12px;
}