<p-dialog
    header="Way of exporting"
    [(visible)]="displayModal" [modal]="true" [style]="{width: '30vw'}" [baseZIndex]="10000" 
    [draggable]="false" [resizable]="false">
    
    <div class="container-dialog">
        <input type="text" pInputText [(ngModel)]="fileName" placeholder="File name">
        <p-listbox [options]="exportWay">
            <ng-template let-export pTemplate="item">
                <div class="ui-helper-clearfix" (click)="selectedExport=export.name">
                    <i class="item-list" [class]="export.icon"></i>
                    <span class="export-list">{{export.name}}</span>
                </div>
            </ng-template>
        </p-listbox>
        <small id="username-help">*Obrigatorio.</small>
    </div>

    <p-footer>
        <button type="button" class="btn-save-default"  (click)="export()">
            <i class="pi pi-cloud-download"></i>
            <span>Export</span>
        </button>
    </p-footer>
</p-dialog>

<div class="box">
    <a class="outline export" (click)="showDisplayModal()">
        <span>            
            <i class="pi pi-fw pi-file-o"></i>
            Export
        </span>
    </a>
</div>